.suggestions {
  margin-bottom: 40px;
}

.suggestion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.suggestion-card {
  background: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.suggestion-card img {
  height: 80px;
}

.suggestion-card button {
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

